absl-py==1.4.0
antlr4-python3-runtime==4.8
astunparse==1.6.3
attrs==21.2.0
bert-base==0.0.9
blis==0.7.4
cachetools==4.2.2
catalogue==2.0.4
certifi==2021.5.30
chardet==4.0.0
click==7.1.2
CRF==0.0.1a1
cycler==0.10.0
cymem==2.0.5
Deprecated==1.2.12
disposable-email-domains==0.0.65
distlib==0.3.4
elasticsearch==7.13.3
filelock==3.6.0
flatbuffers==23.3.3
fsspec==2023.4.0
gast==0.4.0
gensim==4.2.0
google-auth==2.17.3
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
GPUtil==1.4.0
grpcio==1.54.0
h5py==3.1.0
huggingface-hub==0.14.1
idna==2.10
itsdangerous==1.1.0
jax==0.4.8
Jinja2==2.11.2
joblib==1.0.1
jsonschema==3.2.0
keras==2.12.0
Keras-Applications==1.0.8
keras-bert==0.89.0
keras-embed-sim==0.10.0
keras-layer-normalization==0.16.0
keras-multi-head==0.29.0
keras-nightly==2.5.0.dev2021032900
keras-pos-embd==0.13.0
keras-position-wise-feed-forward==0.8.0
Keras-Preprocessing==1.1.2
keras-self-attention==0.51.0
keras-transformer==0.40.0
kiwisolver==1.3.1
libclang==16.0.0
loguru==0.5.3
Markdown==3.3.4
MarkupSafe==1.1.1
matplotlib==3.4.1
ml-dtypes==0.1.0
mpmath==1.2.1
murmurhash==1.0.5
networkx==3.1
nltk==3.7
notify-py==0.3.1
numpy==1.23.5
oauthlib==3.1.0
opencv-python==4.5.1.48
opt-einsum==3.3.0
otx-misp==1.4.3
OTXv2==1.5.12
Owlready2==0.39
packaging==20.9
pandas==1.2.4
pathy==0.5.2
Pillow==8.1.0
platformdirs==2.5.2
preshed==3.0.5
protobuf==4.22.4
pyasn1==0.4.8
pyasn1-modules==0.2.8
pydantic==1.7.4
pymisp==2.4.144
pyparsing==2.4.7
pyrsistent==0.18.0
python-dateutil==2.8.1
pytorch-crf==0.7.2
pytz==2021.1
PyYAML==5.4.1
pyzmq==25.0.0
regex==2022.9.13
requests==2.25.1
requests-oauthlib==1.3.0
rsa==4.7.2
scikit-learn==0.24.2
scipy==1.10.1
seaborn==0.11.1
seqeval==1.2.2
setuptools==49.2.1
simplejson==3.17.2
six==1.15.0
sklearn==0.0
smart-open==3.0.0
spacy==3.0.6
spacy-legacy==3.0.5
srsly==2.4.1
stix2==2.1.0
stix2-patterns==1.3.2
sympy==1.7.1
tabulate==0.8.7
tensorboard==2.12.3
tensorboard-data-server==0.7.0
tensorboard-plugin-wit==1.8.0
tensorflow==2.12.0
tensorflow-addons==0.20.0
tensorflow-estimator==2.12.0
tensorflow-hub==0.13.0
termcolor==1.1.0
thinc==8.0.3
threadpoolctl==2.1.0
tk==0.1.0
tokenizers==0.13.3
torch==2.0.1
TorchCRF==1.1.0
tqdm==4.60.0
transformers==4.28.1
typeguard==2.13.3
typer==0.3.2
typing-extensions==3.7.4.3
urllib3==1.26.4
virtualenv==20.14.1
wasabi==0.8.2
Werkzeug==1.0.1
wheel==0.36.2
wrapt==1.12.1
wxPython==4.1.1
